

body {
    margin:0px;
}

div {
    position: relative;
}

img {
    max-height: 100%;
    display: block;
}

.wrapper{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 13fr 1fr 2fr 0.4fr; 
}

#main {
    display: grid;
    grid-template-columns: 6.5fr 3.5fr; 
    border-radius: 20px;
}

#footer {
    background-color:#6c5ce7;
    color: white;
    text-align: right;
    font-size: 14px;
    font-family: 'Courier New', Courier Bold, monospace;  
    display: grid;
    grid-template-columns: 1fr 2fr 0.2fr ; 
    
}

#upPanel {
    display: grid;
    grid-template-columns: repeat(4,1fr); 
}

#affiliation {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 5fr; 
}


#github {
    padding-right: 10px;
    padding-left: 10px;
    text-align: left;
    background-color:#4c4679;
}

#author {
    padding-right: 10px;
}

#author > a:hover, a:visited, a:link, a:active {
    color: white;
    text-decoration: none;
    outline: none !important;
}
#viewer {
    background-color:#34495e;
}
#panel {
    background-color:#f1f2f6;
    border-left: solid 5px;
    border-left-color: #1c2935;
    display: grid;
    grid-template-rows: 1fr 5fr  ; 
}
#affiliation{
    background-color:white;
}
#progressbar {
        background-color:#f1f2f6;
}

.inactiveButton{
    background-color: white;
    background-blend-mode: luminosity;
}
.activeButton {
    background-color: #f1f2f6;
}

textarea{
    overflow: hidden;
    word-wrap: break-word; 
    outline: none;
    resize: none; 
    overflow-y: scroll; 
    overflow-x: scroll;  
    background-color: white;

}


@media screen and (max-width: 600px) {
    .wrapper{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows: 15fr 1fr 1.5fr 0.6fr; 
    }
    #main {
        display: grid;
        grid-template-columns:auto;
        grid-template-rows: 5fr 5fr; 
        
    }
    #panel {
        border-left: solid 0px;
        grid-template-rows: auto  ;
        grid-template-columns: 1fr 5fr; 
    }

    #githublink img {
        max-height: 40%;
    }
    #upPanel {
        display: grid;
        grid-template-columns: auto  ;
        grid-template-rows: repeat(4,1fr); 
    }
    
}

@media (orientation: portrait) {
    .wrapper{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows: 15fr 1fr 1.5fr 0.6fr; 
    }
    #main {
        display: grid;
        grid-template-columns:auto;
        grid-template-rows: 5fr 5fr; 
        
    }
    #panel {
        border-left: solid 0px;
        grid-template-rows: auto  ;
        grid-template-columns: 1fr 5fr; 
    }

    #githublink img {
        max-height: 40%;
    }
    #upPanel {
        display: grid;
        grid-template-columns: auto  ;
        grid-template-rows: repeat(4,1fr); 
    }
}


#button1{
    background-image: url(assets/input.png);
    background-repeat:no-repeat;
    background-position: center center;
    background-size: contain;
}
#button2{
    background-image: url(assets/energies.png);
    background-repeat:no-repeat;
    background-position: center center;
    background-size: contain;
}
#button3{
    background-image: url(assets/mo.png);
    background-repeat:no-repeat;
    background-position: center center;
    background-size: contain;
}
#button4{
    background-image: url(assets/settings.png);
    background-repeat:no-repeat;
    background-position: center center;
    background-size: contain;
}

#UofR{
    background-image: url(assets/UofR.png);
    background-repeat:no-repeat;
    background-position: center center;
    background-size: contain;
}
#huoGroup{
    background-image: url(assets/huoGroup.png);
    background-repeat:no-repeat;
    background-position: center center;
    background-size: contain;
}
#NSF{
    background-image: url(assets/NSF.png);
    background-repeat:no-repeat;
    background-position: center center;
    background-size: contain;
}

canvas {
    position: absolute;
    height: 100%;
    width: 100%;
}