* {
    outline:none;
      border:none;
      margin:0px;
      padding:0px;
      font-family:Courier, monospace;
  }
  
  #paper {
      color:#FFF;
      font-size:20px;
  }
  #margin {
      margin-left:12px;
      margin-bottom:20px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none; 
  }
  #xyzText2 {
      width:500px;
      overflow:hidden;
      background-color:#FFF;
      color:#222;
      font-family:Courier, monospace;
      font-weight:normal;
      font-size:24px;
      resize:none;
      line-height:40px;
      padding-left:100px;
      padding-right:100px;
      padding-top:45px;
      padding-bottom:34px;
      background-image:url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png), url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
      background-repeat:repeat-y, repeat;
      -webkit-border-radius:12px;
      border-radius:12px;
      -webkit-box-shadow: 0px 2px 14px #000;
      box-shadow: 0px 2px 14px #000;
      border-top:1px solid #FFF;
      border-bottom:1px solid #FFF;
  }
  
  
  
  #wrapper {
      width:700px;
      height:auto;
      margin-left:auto;
      margin-right:auto;
      margin-top:24px;
      margin-bottom:100px;
  }

  .NormalButton {

    background: #0098ca;
    border: 0 none;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      color: #fff;
      line-height: 22px;
      outline: none;
      padding: 9px 20px;
      text-shadow: none;
      filter: none;
      -webkit-transition: background .2s linear, color .2s linear;
      transition: background .2s linear, color .2s linear;
      white-space: normal;
      width:60px;
      display: inline-block;
      text-align: center;
      margin-left:20px;
    }
    